body {
    height: 100vh;
    background-image: url(img/slide-5.jpg);
    background-size: 100%;
}

h1 {
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-family: FreeMono;
}

.slider-container {
    display: block;
    margin: 0 auto;
    min-height: 610px;
    width: 90%;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    padding: 20px 10px 40px 10px;
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.slide {
    display: none;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: white;
    font-size: 40px;
    text-align: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-images {
    width: 10000px;
    position: relative;
    left: -1000px;
}

.slide-images.shifting {
    transition: left .3s ease-out;
}

.slide {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: inline-block;
    top: 50%;
    width: 1000px;
    cursor: pointer;
    float: left;
    flex-direction: column;
    justify-content: center;
    transition: all 2s;
}

.prev, .next {
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: 3s ease;
    background: white;
    font-size: 20px;
    height: 35px;
    width: 35px;
    outline: none;
    text-align: center;
    margin: 210px;
}

.indicators {
    text-align: center;
}

.indicator {
    height: 20px;
    width: 20px;
    transition: background 0.5s ease;
    background: lightgrey;
    margin: 5px;
    display: inline-block;
    border-radius: 50%;
    border: .5px solid black;
    justify-content: center;
    cursor: pointer;
}

.indicator:hover {
    background: darkgrey;
}

.active {
    background: grey;
}
