body{
  overflow: hidden;
  background-color: bisque;
}

.game-wrapper {
  max-width: 700px;
  border: 1px solid gray;
  margin: 0 auto;
}

.pet{
  border-radius: 50px;
  width: 150px;
  height: 150px;
}

.duty{
  padding: 6px 50px;
  margin: 10px;
  background: darksalmon;
  color: #f2f2f2;
  border-radius: 15px;
  cursor: pointer;
  width: 800px;
}

.duty:hover{
  background: #222;
}

.duty:active{
  background: #777;
}

.petStat{
  width: 100px;
  background: #ccfff9;
  margin: 5px 10px;
  border-radius:4px;
  padding: 3px 3px;
}

.statBar{
  float: left;
  margin: 10px 25px;
  width: 180px;
  color: #15524a;
}

#dutyBtn{
  padding: 100px 0;
  margin: 40px;
}

#petFace{
  margin-top: 60px;
  text-align: center;
}

#deathMsg{
  text-align: center;
  font-size: 40px;
  color: #c44329;
}
